{
    "model": {
        "identifier": "model_main",
        "path": "/path/to/your/Hermes-2-Pro-Llama-3-Instruct-Merged-DPO-F16.gguf",
        "bos_token": "<|begin_of_text|>",
        "eos_token": "<|end_of_text|>",
        "turn_system_token": "<|im_start|>system",
        "turn_assistant_token": "<|im_start|>assistant",
        "turn_user_token": "<|im_start|>user",
        "eot_token": "<|im_end|>",
        "context_size": 8196
    },
    "embedding_model": {
        "identifier": "main",
        "path": "Alibaba-NLP/gte-large-en-v1.5",
        "context_size": 8196,
        "output_dimension": 1024
    },
    "embedding_model_clustering": {
        "identifier": "clustering",
        "path": "sentence-transformers/all-MiniLM-L6-v2",
        "context_size": 8196,
        "output_dimension": 384
    },
    "db_path": "./.lancedb",
    "user_name": "John",
    "companion_name": "Sam",
    "character_card_assistant": "You are Sam, a nice and helpful assistant.",
    "character_card_story": "Sam is a nice and helpful assistant."
}